#partner {
  h2 {
    margin-bottom: 1.5rem;
  }

  h3 {
    font-size: 1.35em;
    font-weight: normal;
    color: rgba(0, 0, 0, 0.5);
    margin-bottom: 2rem;
  }

  #form {
    margin-bottom: 2rem;

    #submit-button {
      margin-top: 1rem;
    }
  }
}
