$primary-color: rgb(63, 186, 247);
$background-color: rgb(246,	246, 246);

$text-color-primary: rgba(0, 0, 0, 0.5);
$text-color-muted: rgba(0, 0, 0, 0.7);

$white-color: rgba(255, 255, 255, 0.9);
$white-color-muted: rgba(255, 255, 255, 0.75);

$gray-color: rgba(255, 255, 255, 0.25);
$light-gray: rgba(0, 0, 0, 0.2);
