<main id="about" class="container">
  <h2>Chisto позволяет вам сэкономить деньги и время, которые вы тратили на уход за вашими вещами</h2>

  <div class="row">
    <div class="about-item col-md-6">
      <%= image_tag 'icon-laundry.png', alt: 'Laundry', width: 45 %>
      <p>
        В нашем сервисе собрана информация о более чем 50 химчистках и прачечных в 10 городах России. Каждая из них готова предложить вам качественный сервис.
      </p>
    </div>
    <div class="about-item col-md-6">
      <%= image_tag 'icon-network.png', alt: 'Network', width: 45 %>
      <p>
        Благодаря большой партнерской сети, вы можете получить лучшую цену на свой заказ. Просто сформируйте свой заказ, и Chisto найдет для вас лучшее предложение.
      </p>
    </div>
  </div>
  <div class="row">
    <div class="about-item col-md-6">
      <%= image_tag 'icon-courier.png', alt: 'Courier', width: 45 %>
      <p>
        Теперь вам не нужно ходить в химчистку, ваши вещи заберут прямо из дома в удобное для вас время.
      </p>
    </div>
    <div class="about-item col-md-6">
      <%= image_tag 'icon-wallet.png', alt: 'Wallet', width: 45 %>
      <p>
        Вы можете оплатить свой заказ прямо в мобильном приложении или наличными курьеру.
      </p>
    </div>
  </div>
</main>
