<main id="about" class="container">
  <h2>Chisto позволяет вам сэкономить деньги и время, которые вы третили на уход за вашими вещами</h2>

  <div class="row">
    <div class="about-item col-md-6">
      <%= image_tag 'icon-laundry.png', alt: 'Laundry', width: 45 %>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.
      </p>
    </div>
    <div class="about-item col-md-6">
      <%= image_tag 'icon-network.png', alt: 'Network', width: 45 %>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.
      </p>
    </div>
  </div>
  <div class="row">
    <div class="about-item col-md-6">
      <%= image_tag 'icon-courier.png', alt: 'Courier', width: 45 %>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.
      </p>
    </div>
    <div class="about-item col-md-6">
      <%= image_tag 'icon-wallet.png', alt: 'Wallet', width: 45 %>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.
      </p>
    </div>
  </div>
</main>
