<main id="main" class="container">
  <div class="row">
    <div id="description" class="col-md-7 col-sm-12">
      <h2>С приложением Chisto вам больше не нужно тратить время на походы в химчистку</h2>

      <h4>Как это работает?</h4>

      <ol id="steps">
        <li>Скачайте мобильное приложение Chisto</li>
        <li>Добавьте вещи для чистки</li>
        <li>Выберите подходящего исполнителя</li>
        <li>Оплатите заказ банковской картой в приложении или наличными курьеру</li>
        <li>Ожидайте звонка для согласования времени сбора и доставки вещей</li>
      </ol>
    </div>
    <div id="screenshot" class="col-md-5 hidden-sm-down">
      <%= image_tag 'screenshot.png', alt: 'Screenshot', width: 290, class: 'img-fluid' %>
    </div>
  </div>
</main>
