<main id="partner" class="container">
  <h2>Вы представитель химчистки?</h2>
  <h3>Напишите нам, и мы свяжемся с вами для сотрудничества</h3>

  <div id="form" class="row">
    <form class="" action="index.html" method="post">
      <div class="col-md-6">
        <div class="form-group">
          <label for="exampleInputEmail1">Имя и фамилия</label>
          <input type="email" class="form-control" id="exampleInputEmail" aria-describedby="emailHelp" placeholder="Имя и фамилия">
        </div>
        <div class="form-group">
          <label for="exampleInputEmail">Название химчистки</label>
          <input type="email" class="form-control" id="exampleInputEmail" aria-describedby="emailHelp" placeholder="Название химчистки">
        </div>
        <div class="form-group">
          <label for="exampleInputEmail">Город</label>
          <input type="email" class="form-control" id="exampleInputEmail" aria-describedby="emailHelp" placeholder="Город">
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label for="exampleInputEmail">Телефон</label>
          <input type="email" class="form-control" id="exampleInputEmail" aria-describedby="emailHelp" placeholder="Телефон">
        </div>
        <div class="form-group">
          <label for="exampleInputEmail">Email</label>
          <input type="email" class="form-control" id="exampleInputEmail" aria-describedby="emailHelp" placeholder="Email">
        </div>
        <div class="form-group">
          <label for="exampleInputEmail">Комментарий</label>
          <input type="email" class="form-control" id="exampleInputEmail" aria-describedby="emailHelp" placeholder="Комментарий">
        </div>
      </div>

      <div id="submit-button" class="col-xs-12 text-xs-center form-group">
        <button type="submit" class="btn btn-outline-primary">Отправить</button>
      </div>
    </form>
  </div>
</main>
