<% if object.errors.any? %>
  <div class="alert alert-danger">
    <h4 class="alert-heading">Ошибка</h4>

    <ul class="mb-0">
      <% object.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
