<main id="main">
  <div class="row">
    <div id="description" class="col-md-7 col-sm-12">
      <h2>С приложением Chisto вам больше не нужно тратить время на походы в химчистку</h2>

      <h4>Как это работает?</h4>

      <ol id="steps">
        <li>Скачайте приложение в <a href="https://itunes.apple.com/us/app/chisto/id1165430647?ls=1&mt=8" target="_blank">App Store</a> или <a href="https://play.google.com/store/apps/details?id=ru.binaryblitz.Chisto" target="_blank">Google Play</a></li>
        <li>Добавьте вещи для чистки</li>
        <li>Выберите подходящего исполнителя по цене и срокам выполнения заказа</li>
        <li>Оплатите заказ банковской картой в приложении или наличными курьеру</li>
        <li>Курьер заберёт вещи в согласованное время и вернёт их чистыми</li>
      </ol>
    </div>
    <div id="screenshot" class="col-md-5 hidden-sm-down">
      <%= image_tag 'screenshot.png', alt: 'Screenshot', class: 'img-fluid' %>
    </div>
  </div>
</main>
