<main id="main" class="container">
  <div class="row">
    <div id="description" class="col-md-7 col-sm-12">
      <h2>No need to waste time on trips to the dry cleaning.</h2>

      <h4>How it works:</h4>

      <ol id="steps">
        <li>Download the app on the <a href="https://itunes.apple.com/us/app/chisto/id1165430647?ls=1&mt=8" target="_blank">App Store</a> or <a href="https://play.google.com/store/apps/details?id=ru.binaryblitz.Chisto" target="_blank">Google Play</a></li>
        <li>Add items for cleaning</li>
        <li>Choose a cleaning service from our list of offers by price and speed</li>
        <li>Pay with credit card in the app or in cash</li>
        <li>A courier will collect your things at the agreed time and will then return them clean</li>
      </ol>
    </div>
    <div id="screenshot" class="col-md-5 hidden-sm-down">
      <%= image_tag 'screenshot.png', alt: 'Screenshot', width: 290, class: 'img-fluid' %>
    </div>
  </div>
</main>
